@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 64, 64, 64;
  --background-end-rgb: 0, 0, 0;
}

* {
  transition: all 0.1s ease;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background-image: url("/iitrpr.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}